*{
    padding: 0;
    margin: 0;
}
html{
    overflow-x: hidden;
}
body{
    margin-top: 15vh;
}
.navbar{
    position: fixed;
    top: 0;
    height: 12vh;
    width: 100%;
}
.navbar-brand{
    font-size: 5vh;
    font-weight: bolder;
    margin-left: 3vw;
}

.table, th, td {
    border: 1px solid black;
    border-style: solid;
  }
.table, td {
    padding: 2vh;
}
.all_timetable{
    margin-left: 10vw;
    margin-top: 2vh;
}
.days{
    font-size: 4vh;
    font-weight: bold;
}
.timetable{
    text-align: center;
    font-size: 5vh;
}

.modify_monday{
    border: 0;
    color: white;
    background-color: rgba(46, 46, 211, 0.808);
    padding: 1vh;
    border-radius: 0.2em;
    height: 8vh;
    margin-bottom: 1vh;
}
.modify_tuesday{
    border: 0;
    color: white;
    background-color: rgba(46, 46, 211, 0.808);
    padding: 1vh;
    border-radius: 0.2em;
    height: 8vh;
    margin-top: 1vh;
}
.modify_wednesday{
    border: 0;
    color: white;
    background-color: rgba(46, 46, 211, 0.808);
    padding: 1vh;
    border-radius: 0.2em;
    height: 8vh;
    margin-top: 2vh;
}
.modify_thursday{
    border: 0;
    color: white;
    background-color: rgba(46, 46, 211, 0.808);
    padding: 1vh;
    border-radius: 0.2em;
    height: 8vh;
    margin-top: 3vh;
}
.modify_friday{
    border: 0;
    color: white;
    background-color: rgba(46, 46, 211, 0.808);
    padding: 1vh;
    border-radius: 0.2em;
    height: 8vh;
    margin-top: 2vh;
}
.modify_saturday{
    border: 0;
    color: white;
    background-color: rgba(46, 46, 211, 0.808);
    padding: 1vh;
    border-radius: 0.2em;
    height: 8vh;
    margin-top: 2vh;
}
.modify_sunday{
    border: 0;
    color: white;
    background-color: rgba(46, 46, 211, 0.808);
    padding: 1vh;
    border-radius: 0.2em;
    height: 8vh;
    margin-top: 2vh;
}

.modification{
    position: absolute;
    left: 65vw;
    top: 18vh;
    height: 7vh;
    margin-top: 1vh;
}